.homeContent{
    cursor: pointer;
    align-self: flex-start;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.homeContent .overviewBoxes{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 26px;
}

.overviewBoxes .box{
    position: relative;
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: auto;
    height: 10rem;
    background: #fff;
    padding: 15px 14px;
    padding-left: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.rightSide {
    width: 100%;
    height: 100%;
    position: relative;
}

.dropDownContainer {
    position: absolute;
    z-index: 3;
    right: 8px;
    top: 0;
}

.closeIconEdit {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 23px;
    height: 23px;
}

.editIcon {
    cursor: pointer;
    width: 13px;
    height: 13px;
}

.dropdownMenu {
    position: absolute;
    top: 22px;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #8FDACB;
    border-radius: 5px;
    border-top-right-radius: 0;
    width: 60px;
    background-color: var(--mainWhite);
}

.dropdownItem {
    width: 100%;
    font-size: 14px;
    letter-spacing: .4px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.dropdownItem:first-child {
    
    border-bottom: 1px solid #8FDACB;
}

.dropdownItem:last-child {
    
}

.dropdownItem:hover {
    background-color: var(--mainOpacity);
    transition: all ease-in-out .2s;
}

.overviewBoxes .boxTopic{
    font-size: 20px;
    font-weight: 500;
}

.homeContent .box .titleCard{
    width: 260px;
    text-align: justify;
    align-self: flex-start;
    font-weight: 500;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: overflow .3s ease-in-out;
}

.titlePublic {
    position: absolute;
    top: -8px;
    left: -8px;
    font-size: 13px;
    color: var(--primaryColor);
    font-style: italic;
    font-weight: bold;
}

.rowTitle {
    position: relative;
}

.statusSurvey {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 13px;
    color: var(--primaryColor);
    font-style: italic;
    font-weight: bold;
}

.rowTable {
    position: relative;
    cursor: pointer;
}

.description .descriptionContent, .rowTitle .titleContent{
    padding-bottom: 5px;
    overflow-y: scroll;
    height: 50px;
}

.homeContent .box .titleCard:hover {
    white-space: wrap;
    overflow: visible;
    overflow-wrap: break-word;
}

.containerQuestionList {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
}

.containerQuestionList:hover .hideContainerQuestion {
    visibility: visible;
}

.btnShowMore {
    position: absolute;
    top: -3px;
    left: -13px;
}

.btnShowMore .up {
    transform: rotate(-135deg);
    transition: all .3s ease-out;
}

.containerQuestionList:hover .btnShowMore .up {
    transform: rotate(45deg);
}

.arrow {
    border: solid #8FDACB;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.hideContainerQuestion {
    visibility: hidden;
    height: 60px;
    overflow: scroll;
}

.homeContent .box .indicator{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.homeContent .box .indicator i{
    height: 20px;
    width: 20px;
    background: #8FDACB;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
}

.box .indicator i.down{
    background: #e87d88;
}

.homeContent .box .indicator .text{
    font-size: 12px;
}

.homeContent .box .cart{
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    line-height: 50px;
    text-align: center;
    color: #66b0ff;
    border-radius: 12px;
    margin: -15px 0 0 6px;
}

.homeContent .box .cart.two{
    color: #2BD47D;
    background: #C0F2D8;
}

.homeContent .box .cart.three{
    color: #ffc233;
    background: #ffe8b3;
}

.homeContent .box .cart.four{
    color: #e05260;
    background: #f7d4d7;
}

.homeContent .totalOrder{
    font-size: 20px;
    font-weight: 500;
}

.homeContent .salesBoxes{
    display: flex;
    justify-content: space-between;
}

.homeContent .salesBoxes .recentSales{
    width: 65%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.homeContent .salesBoxes .salesDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.salesBoxes .box .title{
    font-size: 24px;
    font-weight: 500;
}

.salesBoxes .salesDetails li.topic{
    font-size: 20px;
    font-weight: 500;
}

.salesBoxes .salesDetails li{
    list-style: none;
    margin: 8px 0;
}

.salesBoxes .salesDetails li a{
    font-size: 18px;
    color: #333;
    font-size: 400;
    text-decoration: none;
}

.salesBoxes .box .button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.salesBoxes .box .button a{
    color: #fff;
    background: #0A2558;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.salesBoxes .box .button a:hover{
    background:  #0d3073;
}

/* Right box */
.homeContent .salesBoxes .topSales{
    width: 35%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px 0 0;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.salesBoxes .topSales li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.salesBoxes .topSales li a img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 12px;
    margin-right: 10px;
    background: #333;
}

.salesBoxes .topSales li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.salesBoxes .topSales li .product,
.price{
    font-size: 17px;
    font-weight: 400;
    color: #333;
}

.modalWindow {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainOpacity);
}

.modal {
    position: relative;
    width: 80%;
    height: 80%;
    background-color: var(--mainWhite);
    border-radius: 15px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

.title {
    font-size: 22px;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 160px; 
    white-space: nowrap;
}

.containerQuestion {
    position: relative;
    width: 95%;
    height: 90%;
    align-items: flex-start;
    text-align: left;
}

.questionBlock {
    height: 85%;
    text-align: center;
}

.question {
    margin-top: 25px;
}

.linkContainer {
    width: 100%;
    display: flex;
    align-items: center;
}

.link {
    width: 100%;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.linkContainer a {
    text-decoration: none;
    transition: all .3s ease-in-out;
    color: var(mainBlack);
}

.linkContainer a:hover {
    color: var(--mainBackground);
}

.containerLink {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerIconLink {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconLink {
    width: 19px;
    height: 19px;
    margin-right: 7px;
    cursor: pointer;
}

.linkCopied {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -20px;
    left: 15px;
    width: 42px;
    height: 21px;
    color: var(--offWhite);
    background-color: var(--mainBlack);
    border-radius: 5px;
    border-bottom-left-radius: 0;
}

.hideContainerLink {
    display: none;
}

.modalWindow {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainOpacity);
}

.modal {
    position: relative;
    width: 80%;
    height: 80%;
    background-color: var(--mainWhite);
    border-radius: 15px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 22px;
}

.titleContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60%;
    margin-top: 38px;
}

.formControl {
    border-radius: 3px;
    background-clip: padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btnPrimary {
    width: 60%;
    color: var(--offWhite);
    background-color: var(--mainBlack);
    border-color: var(--mainBlack);
    margin: 30px auto;
}

.btn:hover {
    color: var(--primaryColor);
    background-color: var(--mainBackground);
    border-color: transparent;
}

.isDelete {
    margin: 0 auto;
    width: 75%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primaryColor);
    background-color: var(--mainWhite);
    box-shadow: var(--lightShadow);
    border: var(--mainWhite) 1px solid;
    border-radius: 10px;
    position: fixed;
    top: 28%;
    left: 5%;
    right: 0;
    z-index: 2000;
}

.deleteBtn {
    margin: 15px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.deleteBtn div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100px;
    height: 40px;
    border: var(--mainOpacity) 1px solid;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color .3 ease-in-out;
}

.deleteBtn div:hover {
    background-color: var(--mainBackground);
}

.linkRow {
    cursor: pointer;
    position: relative;
}

.linkRow .copyLinkTitle {
    content: "copy link";
    position: absolute;
    top: -10px;
    right: 50%;
    font-size: 13px;
    padding: 2px 7px;
    background-color: var(--mainOpacity);
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom-left-radius: 0;
    visibility: hidden;
}

.linkRow .linkCopiedContainer {
    position: absolute;
    top: 10px;
    right: 65%;
}

.linkRow .linkCopied {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 21px;
    color: var(--offWhite);
    background-color: var(--mainBlack);
    border-radius: 5px;
    border-bottom-left-radius: 0;
}

/* .linkRow:hover .copyLinkTitle {
    visibility: visible;
    transition: all .5s ease-in-out;
} */

.btnEditContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btnEdit {
    position: absolute;
    top: 45%;
    cursor: pointer;
    padding: 3px 10px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5px;
    background-color: var(--mainBackground);
    border-radius: 5px;
    transition: all .3s ease-in;
}

.btnEdit:hover {
    top: 44%;
    padding: 4px 11px;
    background-color: var(--mainWhite);
    color: var(--primaryColor);
    transition: all .5s ease-out;
}

/* csv loader container */
.downloadRow {
    position: relative;
}

.downLoadCSV {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: var(--mainOpacity) 1px solid;
    background-color: var(--mainOpacity);
    border-radius: 5px;
    right: 15px;
    opacity: 0;
}
/* .downloadRow {

}

.containerCSV {
    position: absolute;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: var(--mainOpacity) 1px solid;
    background-color: var(--mainOpacity);
    border-radius: 5px;
    right: 15px;
}

.noDownLoadCSVContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerCSV a {
    text-decoration: none;
} */

/* edit container styles */ 
.deleteIcon {
    position: absolute;
    top: -16px;
    right: -10px;
    width: 15px;
    height: 15px;
    transform: rotate(18deg);
}

.deleteIcon:hover {
    transform: rotate(0);
    width: 18px;
    height: 18px;
}

.titleContainerPosition {
    position: relative;
    display: flex;
    flex-direction: column;
}

.btnAdd {
    position: absolute;
    bottom: -20px;
    width: 100%;
    text-align: right;
    color: var(--mainBlack);
    cursor: pointer;
    font-size: 16px;
    transition: font-size .3s ease-out;
}

.btnAdd:hover {
    color: var(--primaryColor);
    font-size: 16.5px;
    transition: font-size .3s ease-out;
}

/* Responsive Media Query */
@media (max-width: 1150px) {
    .homeContent .salesBoxes{
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
    }

    .homeContent .salesBoxes .box{
        width: 100%;
        overflow-x: scroll;
        margin-bottom: 30px;
    }

    .homeContent .salesBoxes .topSales{
        margin: 0;
    }
}

@media (max-width: 1000px) {
    .overviewBoxes .box{
        margin-bottom: 15px;
    }
}

@media (max-width: 700px) {
    .homeContent .salesBoxes .salesDetails{
        width: 560px;
    }

    .isDelete {
        text-align: center;
    }
}

@media (max-width: 550px) {
    .overviewBoxes .box{
        margin-bottom: 15px;
    }

    .isDelete {
        text-align: center;
        width: 95%;
        left: 1%;
    }

    .deleteBtn {
        width: 69%;
        justify-content: space-between;
    }
}

@media (max-width: 400px) {
    .sidebar{
        width: 0;
    }
    
    .sidebar.active{
        width: 60px;
    }

    .isDelete {
        width: 97%;
    }
}
