.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.homeContent{
    cursor: pointer;
    align-self: flex-start;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
  
.homeContent .overviewBoxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 26px;
}
  
.overviewBoxes .box{
    position: relative;
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: auto;
    height: 10rem;
    background: #fff;
    padding: 15px 14px;
    padding-left: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.rightSide {
    width: 100%;
    height: 100%;
    max-height: 107px;
    position: relative;
}

.editIcon {
    cursor: pointer;
    width: 21px;
    height: 21px;
    position: absolute;
    z-index: 3;
    right: 8px;
    top: 8px;
}
  
.overviewBoxes .boxTopic{
    font-size: 20px;
    font-weight: 500;
}

.homeContent .box .titleCard{
    width: 260px;
    text-align: justify;
    align-self: flex-start;
    font-weight: 500;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: overflow .3s ease-in-out;
}

.titlePublic {
    position: absolute;
    top: -13px;
    right: 0;
    font-size: 13px;
    color: var(--primaryColor);
    font-style: italic;
    font-weight: bold;
}

.homeContent .box .titleCard:hover {
    white-space: wrap;
    overflow: visible;
    overflow-wrap: break-word;
}

.containerQuestionList {
    width: 100%;
    height: auto;
    display: inline-block;
}

.containerStep {
    position: relative;
}

.hideContainerQuestion {
    visibility: hidden;
    height: 40px;
    overflow: scroll;
    transition: all .5s ease-out;
    position: relative;
    z-index: 1000;
    background-color: white;
}

.containerQuestionList:hover .hideContainerQuestion {
    visibility: visible;
}

.btnShowMore {
    position: absolute;
    top: -3px;
    left: -13px;
}

.btnShowMore .up {
    transform: rotate(-135deg);
    transition: all .3s ease-out;
}

.containerQuestionList:hover .btnShowMore .up {
    transform: rotate(45deg);
}

.arrow {
    border: solid #8FDACB;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.homeContent .box .indicator{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.homeContent .box .indicator i{
    height: 10px;
    width: 10px;
    background: #8FDACB;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
}

.box .indicator i.down{
    background: #e87d88;
}
  
.homeContent .box .indicator .text{
    font-size: 12px;
}

.homeContent .box .cart{
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    line-height: 50px;
    text-align: center;
    color: #66b0ff;
    border-radius: 12px;
    margin: -15px 0 0 6px;
}

.homeContent .box .cart.two{
    color: #2BD47D;
    background: #C0F2D8;
}
  
.homeContent .box .cart.three{
    color: #ffc233;
    background: #ffe8b3;
}

.homeContent .box .cart.four{
    color: #e05260;
    background: #f7d4d7;
}

.homeContent .totalOrder{
    font-size: 20px;
    font-weight: 500;
}

.homeContent .salesBoxes{
    display: flex;
    justify-content: space-between;
}
  
.homeContent .salesBoxes .recentSales{
    width: 65%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.homeContent .salesBoxes .salesDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.salesBoxes .box .title{
    font-size: 24px;
    font-weight: 500;
}

.salesBoxes .salesDetails li.topic{
    font-size: 20px;
    font-weight: 500;
}

.salesBoxes .salesDetails li{
    list-style: none;
    margin: 8px 0;
}

.salesBoxes .salesDetails li a{
    font-size: 18px;
    color: #333;
    font-size: 400;
    text-decoration: none;
}

.salesBoxes .box .button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.salesBoxes .box .button a{
    color: #fff;
    background: #0A2558;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.salesBoxes .box .button a:hover{
    background:  #0d3073;
}
  
  /* Right box */
.homeContent .salesBoxes .topSales{
    width: 35%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px 0 0;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.salesBoxes .topSales li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.salesBoxes .topSales li a img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 12px;
    margin-right: 10px;
    background: #333;
}

.salesBoxes .topSales li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.salesBoxes .topSales li .product,
.price{
    font-size: 17px;
    font-weight: 400;
    color: #333;
}

.containerLink {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.link {
    width: 100%;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #007bff;
}

.link:hover {
    color: var(--mainBlack)
}

.containerIconLink {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconLink {
    width: 19px;
    height: 19px;
    margin-right: 7px;
    cursor: pointer;
}

.linkCopied {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -20px;
    left: 15px;
    width: 42px;
    height: 21px;
    color: var(--offWhite);
    background-color: var(--mainBlack);
    border-radius: 5px;
    border-bottom-left-radius: 0;
}

.hideContainerLink {
    display: none;
}

.modalWindow {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainOpacity);
}

.modal {
    position: relative;
    width: 80%;
    height: 80%;
    background-color: var(--mainWhite);
    border-radius: 15px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

.title {
    font-size: 22px;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 160px; 
    white-space: nowrap;
}

.titleShowMore {
    font-size: 22px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

.description {
    text-align: justify;
    text-indent: 25px;
    height: 250px;
    overflow-y: scroll;
}

.isSuccess {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--success);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.isSuccess div {
    cursor: pointer;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-weight: bold;
    width: 70vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--mainWhite) 1px solid;
    box-shadow: -10px 0px 13px -7px var(--mainOpacity), 10px 0px 13px -7px var(--mainOpacity), 5px 5px 15px 5px var(--mainOpacity);
    border-radius: 10px;
    background-color: var(--offWhite);
}

.containerQuestion {
    position: relative;
    width: 95%;
    height: 90%;
    align-items: flex-start;
    text-align: left;
}

.containerMessageInfoForAnswer {
    /* position: absolute; */
    /* top: 100%;
    right: 0;
    z-index: 9998;
    width: 100vw;
    height: 100vh;
    background-color: #e05260; */
}

.messageInfoForAnswer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #8FDACB;
    z-index: 9999;
    text-align: center;
}

.containerQuestion div:last-child div .questionBlock{
    display: none;
}

.questionBlock {
    height: 85%;
    text-align: center;
}

.question {
    margin-top: 25px;
}

.answerContainer {
    margin: 0 auto;
    width: 75%;
    height: 70%;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answerContainer textarea {
    width: 100%;
    height: 100%;
    border: none;
}

.answerContainer textarea[placeholder] {
    padding: 15px 14px;
    outline-color: var(--mainOpacity);
}

.nextQuestion {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.btn {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btnPrimary {
    width: 60%;
    color: var(--offWhite);
    background-color: var(--mainBlack);
    border-color: var(--mainBlack);
    margin: 30px auto;
}

.btn:hover {
    color: var(--primaryColor);
    background-color: var(--mainBackground);
    border-color: transparent;
}

.nextSwiper, .disabledNextBtn {
    cursor: pointer;
    text-decoration: none;
    border: none;
    background: none;
    position: absolute;
    right: 15px;
    top: 48%;
    z-index: 10010;
    color: var(--mainBlack);
    font-weight: bold;
}

.disabledNextBtn {
    color: var(--mainOpacity);
}
  
  /* Responsive Media Query */
@media (max-width: 1150px) {
    .homeContent .salesBoxes{
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
    }

    .homeContent .salesBoxes .box{
        width: 100%;
        overflow-x: scroll;
        margin-bottom: 30px;
    }

    .homeContent .salesBoxes .topSales{
        margin: 0;
    }
}
  
@media (max-width: 1000px) {
    .overviewBoxes .box{
        margin-bottom: 15px;
    }
}
  
@media (max-width: 700px) {
    .homeContent .salesBoxes .salesDetails{
        width: 560px;
    }
}
  
@media (max-width: 550px) {
    .overviewBoxes .box{
        margin-bottom: 15px;
    }
}
  
@media (max-width: 400px) {
    .sidebar{
        width: 0;
    }

    .sidebar.active{
        width: 60px;
    }
}
