.modalWindow {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainOpacity);
}

.modal {
    position: relative;
    width: 80%;
    height: 80%;
    background-color: var(--mainWhite);
    border-radius: 15px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

.editIcon {
    cursor: pointer;
    width: 21px;
    height: 21px;
    position: absolute;
    z-index: 3;
    right: 8px;
    top: 8px;
}

.titleShowMore {
    font-size: 22px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

.description {
    text-align: justify;
    text-indent: 25px;
    height: 250px;
    overflow-y: auto;
}

.btn {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btnPrimary {
    width: 60%;
    color: var(--offWhite);
    background-color: var(--mainBlack);
    border-color: var(--mainBlack);
    margin: 30px auto;
}

.btn:hover {
    color: var(--primaryColor);
    background-color: var(--mainBackground);
    border-color: transparent;
}

.infoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 15px;
    background-color: #8FDACB;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px auto;
}
