.container {
    width: 98%;
    margin: 0 auto;
}

.backBtn {
    width: 48px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px 5px;
    border: 1px solid var(--mainBackground);
    background-color: var(--mainOpacity);
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}

.backBtn:hover {
    border: 1px solid var(--mainOpacity);
    background-color: var(--mainWhite); 
    transition: all .3s ease-in-out;
}

.arrow {
    border: solid var(--primaryColor);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.tableRow {
    cursor: pointer;
    width: 98%;
}

.tableRow .commonRowStyle {
    max-width: 100px;
}

.rowTitle {
    position: relative;
}

.status {
    position: absolute;
    top: 0;
    left: -23px;
    font-size: 13px;
    font-style: italic;
    color: var(--primaryColor);
}


.description .descriptionContent, .rowTitle .titleContent{
    padding-bottom: 5px;
    overflow-y: scroll;
    height: 50px;
}

.modalWindow {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainOpacity);
}
  
.modal {
    position: relative;
    width: 80%;
    height: 80%;
    background-color: var(--mainWhite);
    border-radius: 15px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    /* height: 100vh; */
}

.editIcon {
    cursor: pointer;
    width: 21px;
    height: 21px;
    position: absolute;
    z-index: 3;
    right: 8px;
    top: 8px;
}

.containerCard {
    width: 100%
}

.homeContent .box .titleCard{
    width: 260px;
    text-align: justify;
    align-self: flex-start;
    /* display: inline-block; */
    /* font-size: 25px; */
    /* margin-top: -6px;
    margin-bottom: 10px; */
    /* padding: 10px auto; */
    font-weight: 500;
    

    cursor: pointer;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    transition: overflow .3s ease-in-out;
}
  
.homeContent .box .titleCard:hover {
    white-space: wrap;
    overflow: visible;
    overflow-wrap: break-word;
}

.questionContainer {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    font-size: 22px;
    padding: 15px 10px;
}

.question {
    padding: 3px 5px;
    display: flex;
    justify-content: space-between;
}

.emailContainer {
    position: relative;
}

.emailContainer .role {
    position: absolute;
    top: 0;
    left: -23px;
    font-size: 13px;
    font-style: italic;
    color: var(--primaryColor);
}

.btnOpenContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.btnOpen {
    position: absolute;
    top: 45%;
    cursor: pointer;
    padding: 3px 10px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5px;
    background-color: var(--mainBackground);
    border-radius: 5px;
    transition: all .3s ease-in;
}

.btnOpen:hover {
    top: 44%;
    padding: 4px 11px;
    background-color: var(--mainWhite);
    color: var(--primaryColor);
    transition: all .5s ease-out;
}

.subscriptionRow {
   display: flex;
   justify-content: flex-start;
   align-items: center; 
}

.cancelContainer {
    position: relative;
    font-size: 16px;
}

.cancel {
    width: 150px;
    position: absolute;
    top: -15px;
    left: 0;
    font-size: 13px;
    font-style: italic;
    color: var(--primaryColor);
}
