.defaultWrapper,
.roomsWrapper {
  min-height: calc(100vh - 66px);
  background: var(--mainBackground) center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.roomsWrapper {
  min-height: 60vh;
}
