.defaultWrapper,
.roomsWrapper {
  padding-top: 100px;
  width: 100%;
  min-height: calc(100vh);
  background: var(--mainBackground) center/cover no-repeat;
  /* display: flex; */
  align-self: center;
  align-items: center;
  justify-content: space-between;
}
.roomsWrapper {
  min-height: 60vh;
}
